node_modules
npm-debug.log*

.git
.github
.vercel

.env
.env.*
!.env.example

coverage
artifacts
test-results
playwright-report
apps/**/test-results
apps/**/playwright-report

dist
.next
*.tsbuildinfo
.turbo
generated

packages/**/src/**/*.js
packages/**/src/**/*.d.ts
packages/**/src/**/*.d.ts.map
apps/api/prisma/migrations/dev
